html {
    scroll-behavior: smooth;
}

@media (min-width: 768px) {
    .alternate:nth-of-type(even) div p {
        order: 2
    }

    .alternate:nth-of-type(even) div img {
        order: 1
    }

    .alternate:nth-of-type(odd) div p {
        order: 1
    }

    .alternate:nth-of-type(odd) div img {
        order: 2
    }
}

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* JUMBOTRON IMAGE GOES HERE */
    background-image: url("../images/jumbotron.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.75;
}

.hero-container {
    opacity: 1;
    position: relative;
}

.dropdown-dark a.disabled {
    color: rgba(255, 255, 255, .25) !important;
}

.dropdown-dark a {
    color: rgba(255, 255, 255, .5) !important;
}

.dropdown-dark a:hover,
.dropdown-dark a:focus{
    color: rgba(255, 255, 255, .75) !important;
    background-color: rgba(52, 58, 64, 1) !important;
}

.underline {
    position: relative;
}

.underline::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 2px;
    width: 320px;
    background-color: #303030;
}

.marketing-image {
    object-fit: contain;
}

.promo {
    height: 80vh;
}
